<%- include('partials/header') %>

<div class="jumbotron text-center">
  
  <div class="success-container">
    <i class="fas fa-key fa-6x"></i>
    <h2 class="display-3">You've successfully logged in!</h2>
    <p>Thank you for registration.</p>
    <hr>
    
    <a class="btn log-btn" href="/logout" role="button">  Log Out</a>
    <a class="btn btn-dark compose" href="/compose" role="button"> Compose</a>

    <!-- <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a> -->
  </div>
</div>

<%- include('partials/footer') %>
